<div class="header-content">
  <h1>Star Wars Data</h1>
  <div class="header-navbar" *ngIf="oApi.keys">
    <ul>
      <li *ngFor="let site of oApi.keys">
        <a [ngClass]="{'actile-link' : currentItem == site}" (click)="chooseItem(site)">{{ site | capitalFirst }}</a>
      </li>
    </ul>
  </div>
</div>
