.header-content{
  background-color: #F4F4F4;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  /*height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;*/
  padding-bottom: 5px;
}

.header-content h1{
  text-align: center;
  padding-top: 50px;
}

.header-content ul{
  display: inline-flex;
}

.header-content li{
  margin-left: 25px;
}

.header-navbar{
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
