<div *ngIf="data.results && detailMode == false" class="row">
  <div *ngFor="let item of data.results" class="column">
    <div class="card-content" (click)="viewDetail(item)">
      <div *ngIf="itemType == 'people'">
        {{item.name}}
      </div>
      <div *ngIf="itemType == 'films'" class="films-content">
        <span>{{item.title}} </span>
        <span>{{item.episode_id}}</span>
        <span>{{item.release_date}}</span>
      </div>
    </div>
  </div>
</div>
<!-- Detail people -->
<div *ngIf="detailMode == true && itemType == 'people'" class="row">
  <div class="column column-detail">
    <div class="card-detail">
      <ul>
        <li>
          <h2>Name: {{currentItem.name}}</h2>
        </li>
        <li>
          <span><b>Species: </b> {{ species }}</span>
        </li>
        <li>
          <span><b>Height: </b> {{currentItem.height}}</span>
        </li>
        <li>
          <span><b>Eye color: </b> {{currentItem.eye_color}}</span>
        </li>
        <li>
          <span><b>Gender: </b> {{currentItem.gender}}</span>
        </li>
        <li>
          <span><b>Birth year: </b> {{currentItem.birth_year}}</span>
        </li>
      </ul>
      <div class="header-navbar">
        <ul>
          <li (click)="selectCategory('films')">
            <a> Related films</a>
          </li>
          <li (click)="selectCategory('Related planets')">
            <a> Related planets</a>
          </li>
          <li (click)="selectCategory('Related starships')">
            <a> Related starships</a>
          </li>
          <li (click)="selectCategory('Related vehicles')">
            <a> Related vehicles</a>
          </li>
          <li (click)="selectCategory('Related species')">
            <a>Related species</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Detail films -->
<div *ngIf="detailMode == true && itemType == 'films'" class="row">
  <div class="column column-detail">
    <div class="card-detail">
      <ul>
        <li>
          <h2>Title: {{currentItem.episode_id}}</h2>
        </li>
        <li>
          <span><b>Director: </b> {{ currentItem.director }}</span>
        </li>
        <li>
          <span><b>Producer: </b> {{currentItem.producer}}</span>
        </li>
        <li>
          <span><b>Release date: </b> {{currentItem.release_date}}</span>
        </li>
        <li>
          <span><b>opening crawl: </b> {{currentItem.opening_crawl}}</span>
        </li>
      </ul>
      <div class="header-navbar">
        <ul>
          <li (click)="selectCategory('people')">
            <a> Related characters</a>
          </li>
          <li (click)="selectCategory('Related planets')">
            <a> Related planets</a>
          </li>
          <li (click)="selectCategory('Related starships')">
            <a> Related starships</a>
          </li>
          <li (click)="selectCategory('Related vehicles')">
            <a> Related vehicles</a>
          </li>
          <li (click)="selectCategory('Related species')">
            <a>Related species</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
