.header-navbar{
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 15px;
}

.header-navbar ul{
  display: inline-flex;
}

.header-navbar li{
  margin-left: 25px;
}

.films-content{
  display: grid;
  text-align: left;
  margin-left: 15px;
}
