<!--
  Componente principal
-->
<app-header [item]="forceItem" [working]="isWorking" (itemSelected)="itemHasBeenSelected($event)"></app-header>

<app-placeholder [itemSelected]="itemSelected" (forceSelectItem)="onForceSelectItem($event)" (working)="onWorking($event)"></app-placeholder>
