<div class="content">
  <div class="breadcrumb">
    <a (click)="parentBreadcrumb()" class="primaryBreadcrumb">{{ itemSelected | capitalFirst }}</a> <a *ngIf="nestedBreadcrumb" (click)="modeDetail = true" class="secondBreadcrumb"> > {{nestedBreadcrumb}}</a> </div>
  <div class="placeholder">
    <p *ngIf="showLoader" class="message loaderText">
      May the force be with you ... Wait please
    </p>
    <p *ngIf="itemSelected != 'people' && itemSelected != 'films' && itemSelected != ''" class="message">
      Very soon you will see the data of {{ itemSelected }}
    </p>
    <app-items
    [data]="data"
    [detailMode]="modeDetail"
    [itemType]="itemSelected"
    (detailChange)="onDetailMode($event)"
    (itemChange)="onItemChange($event)">
  </app-items>
  </div>
  <div class="pager" *ngIf="modeDetail == false">
    <button *ngIf="data.previous" (click)="navigate(data.previous)">Back</button>
    <button *ngIf="data.next" (click)="navigate(data.next)">Next</button>
  </div>
</div>
