.content{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  /*width: 100%;*/
  height: calc(100% - 230px);
}

.placeholder{
  background-color:#6666;
  overflow-y: scroll;
  max-height: 80%;
  min-height: 400px;
  height: auto;
}

.breadcrumb{
  margin-bottom: 25px;
}

.pager{
  margin-top: 10px;
  display: inline-block;
}

.pager button{
  margin-right: 15px;
}

.message{
  text-align: center;
  vertical-align: middle;
  margin-top: 150px;
  font-weight: bold;
}

.primaryBreadcrumb{
  color: #EE6D31;
}

.secondBreadcrumb{
  color: #1786eb;
}

.loaderText{
  color: #e42b84;
}
