/* You can add global styles to this file, and also import other style files */

html,body {
	height: 100%;
	width: 100%;
	position: fixed;
	font-family: 'Roboto', sans-serif;

}
body{
  top : 0px;
  margin: 0px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.actile-link{
  font-weight: bold;
  color: #EE6D31;
}

a{
  cursor: pointer;
}

.column {
    float: left;
    width: 23%;
		margin: 10px;
    height: 150px;
    background: #fff;
		display: table;
}

.column-detail{
	height: 200px;
	width : auto;
	padding-left: 15px;
	padding-right: 15px;
}

.card-content{
	vertical-align: middle;
  height: inherit;
  display: table-cell;
	text-align: center;
	cursor: pointer;
}

.card-detail{
	vertical-align: middle;
  height: inherit;
  display: table-cell;
	cursor: pointer;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 1030px){
	.column {
		width: 21%;
	}
}
